# dependencies
node_modules/

# environment variables
.env

# logs
logs
*.log
npm-debug.log*

# build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# vscode
.vscode/

# vite
frontend/dist/

# misc
coverage/